@media (max-width: 500px) {

  // Navgation-Part
  .navbar-brand {
    margin-left: 6px;
  }

  .navbar-toggler {
    border: none;
  }

  .w3-sidebar {
    width: 65%;
    right: 0;
  }

  li {
    margin: 0.rem 1rem;
    padding: 0 0.5rem;
  }



  // Main-part
  main {
    padding: 20% 0%;
  }

  .hero-img {
    margin-left: 0;
    width: 100%;
  }

  article {
    text-align: center;
    padding: 20% 0 10%;

    h1 {
      font-size: 2.6rem;
      margin-bottom: 0;
    }

    .text {
      margin: 5% auto 8%;
    }

  }

  .company-logo img {
    margin-right: 6%;
    width: 16%;
  }
 
}


